<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ikamaru.capacitor.hms.account.kit">
    <!--check network permissions-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--check wifi state-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
</manifest>
